@model TestNTT.Models.ViewCreateProduct
<!DOCTYPE HTML>

<html>
<head>
    <title>

    </title>
</head>

<body>
    @using (Html.BeginForm("Index", "Products", FormMethod.Get))
    {
        <input type="submit" value="Вернуться"/>
    }
    <h1>Добавить новый продукт</h1>
    @using (Html.BeginForm("Create", "Products", FormMethod.Post))
    {
        <p>
            @Html.Label("Наименование продутка")
        </p>
        <p>
            @Html.TextBoxFor(p=>p.Product.ProductName)
        </p>
        <p>
            @Html.Label("Выбор категории")
        </p>
        <p>
            @Html.DropDownListFor(m=>m.Product.CategoryId, new SelectList(Model.Categories,"CategoryId","CategoryName"))
        </p>
        <input type="submit" value="Отправить" />
    }
</body>
</html>

